#home {
  font-style: italic;
}
#gameHomePage {
  background: url('../../images/gameHomePage_background.png');
  background-size: cover;
  height: 255px;
  width: 240px;
  position: absolute;
  top: -5px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

#gameHomePage > img {
    border: 0;
    height: 90px;
    width: 120px;
    padding-left: 70px;
}
.option{
	text-align: center;
    color: #fb9716;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 0px;
}
.animalImg{
    width: 210px;
    height: 150px;
    margin: 0px 0px 0px 11px;
	}
.option2{
	margin-top:1em;
}
.try{
    position: absolute;
    top: 37%;
    font-size: 25px;
    font-weight: bold;
    left: 14%;
	}
.try{
	color: #ff6100;
}
.success{
	color:#40cc20;
	position: absolute;
    top: 40%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    left: 21%;
	}